
p {
  font-family: Lato;
}

.link{
  cursor: pointer;
  padding: 2px 7px;
  display: inline-block;
  outline: none;
  height: 26px;
  line-height: 26px;
}

.link:hover{
  background:#000;
  opacity:0.9;
}

.hidden{
  display:none;
  /* display: inline-block; */
}

input#home:checked ~ label[for="home"],
input#page1:checked ~ label[for="page1"],
input#page2:checked ~ label[for="page2"]{
  color:#000000;
  background-color: #FFFFFF;
}

.topMenu{
  background-color: #000000;
  color:#FFFFFF;
  font-size: 18px;
}